Source: ros-lyrical-ros2-socketcan
Section: misc
Priority: optional
Maintainer: Josh Whitley <whitleysoftwareservices@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-lyrical-ament-cmake-auto, ros-lyrical-ament-cmake-gtest <!nocheck>, ros-lyrical-ament-lint-auto <!nocheck>, ros-lyrical-ament-lint-common <!nocheck>, ros-lyrical-can-msgs, ros-lyrical-lifecycle-msgs, ros-lyrical-rclcpp, ros-lyrical-rclcpp-components, ros-lyrical-rclcpp-lifecycle, ros-lyrical-ros2-socketcan-msgs, ros-lyrical-ros-workspace
Homepage: https://index.ros.org/p/ros2_socketcan/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-ros2-socketcan
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lyrical-can-msgs, ros-lyrical-lifecycle-msgs, ros-lyrical-rclcpp, ros-lyrical-rclcpp-components, ros-lyrical-rclcpp-lifecycle, ros-lyrical-ros2-socketcan-msgs, ros-lyrical-ros-workspace
Description: Simple wrapper around SocketCAN
